In [1]:
#first step is importing the required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [11]:
#loading the carpriceassignment dataset
carpricing=pd.read_csv('CarPrice_Assignment.csv')
#printing the data
carpricing

,car_ID,symboling,CarName,fueltype,carbody,wheelbase,carlength,carwidth,carheight,cylindernumber,enginesize,horsepower,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,convertible,88.6,168.8,64.1,48.8,four,130,111,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,convertible,88.6,168.8,64.1,48.8,four,130,111,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,hatchback,94.5,171.2,65.5,52.4,six,152,154,19,26,16500.0
3,4,2,audi 100 ls,gas,sedan,99.8,176.6,66.2,54.3,four,109,102,24,30,13950.0
4,5,2,audi 100ls,gas,sedan,99.4,176.6,66.4,54.3,five,136,115,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,sedan,109.1,188.8,68.9,55.5,four,141,114,23,28,16845.0
201,202,-1,volvo 144ea,gas,sedan,109.1,188.8,68.8,55.5,four,141,160,19,25,19045.0
202,203,-1,volvo 244dl,gas,sedan,109.1,188.8,68.9,55.5,six,173,134,18,23,21485.0
203,204,-1,volvo 246,diesel,sedan,109.1,188.8,68.9,55.5,six,145,106,26,27,22470.0
204,205,-1,volvo 264gl,gas,sedan,109.1,188.8,68.9,55.5,four,141,114,19,25,22625.0

In [15]:
#shape of the data
carpricing.shape

(205, 15)

In [16]:
#to know first five records of the dataset
carpricing.head()

,car_ID,symboling,CarName,fueltype,carbody,wheelbase,carlength,carwidth,carheight,cylindernumber,enginesize,horsepower,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,convertible,88.6,168.8,64.1,48.8,four,130,111,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,convertible,88.6,168.8,64.1,48.8,four,130,111,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,hatchback,94.5,171.2,65.5,52.4,six,152,154,19,26,16500.0
3,4,2,audi 100 ls,gas,sedan,99.8,176.6,66.2,54.3,four,109,102,24,30,13950.0
4,5,2,audi 100ls,gas,sedan,99.4,176.6,66.4,54.3,five,136,115,18,22,17450.0

In [20]:
#seperating the dependent and independent varialbles
x=carpricing.iloc[:,:-1].values
x

array([[1, 3, 'alfa-romero giulia', ..., 111, 21, 27],
       [2, 3, 'alfa-romero stelvio', ..., 111, 21, 27],
       [3, 1, 'alfa-romero Quadrifoglio', ..., 154, 19, 26],
       ...,
       [203, -1, 'volvo 244dl', ..., 134, 18, 23],
       [204, -1, 'volvo 246', ..., 106, 26, 27],
       [205, -1, 'volvo 264gl', ..., 114, 19, 25]], dtype=object)

In [25]:
y=carpricing.iloc[:,14]
y

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64